# Dependencies
node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
*.sqlite3
*.db
ml/models/
*.ckpt
*.pt
*.bin

# Next.js
.next/
out/

# Production
build
dist

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / OS
.DS_Store
*.pem
.vscode/
.idea/
